@font-face {
  font-family: SF UI Display;
  src: url(../fonts/SFUIDisplay-Bold.woff);
  font-weight: 700px;
}

@font-face {
  font-family: SF UI Display;
  src: url(../fonts/SFUIDisplay-Regular.woff);
  font-weight: 400px;
}